/* #Typography
--------------------------------------------------------------- */
body {
    font-family: var(--body);
    line-height: 1.65;
    color: var(--primary);
    background-color: var(--white);
}

p,
.p-size {
    font-size: 16px;
    font-weight: 400;
    color: var(--primary);
}

@media screen and (min-width: 1920px) {

    body,
    p,
    .p-size {
        font-size: 18px;
    }
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

sup {
    vertical-align: super;
    font-size: 0.7em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
    font-style: normal;
    font-family: var(--bold);
    font-weight: 700;
    line-height: 1.25;
    color: var(--primary);
    -webkit-font-smoothing: antialiased;
}

h5,
h6 {
    line-height: 1.4;
}

h1,
.h1-size,
.h1-size p {
    font-size: 28px;
}

@media screen and (min-width: 768px) {

    h1,
    .h1-size,
    .h1-size p {
        font-size: 48px;
    }
}

@media screen and (min-width: 1200px) {

    h1,
    .h1-size {
        font-size: 64px;
    }
}

h2,
.h2-size {
    font-size: 25px;
    font-weight: 700;
    color: var(--primary);
}

@media screen and (min-width: 768px) {

    h2,
    .h2-size {
        font-size: 28px;
    }
}

@media screen and (min-width: 1200px) {
    h2,
    .h2-size {
        font-size: 48px;
    }
}

h3,
.h3-size {
    font-size: 22px;
}

@media screen and (min-width: 768px) {

    h3,
    .h3-size {
        font-size: 25px;
    }
}

@media screen and (min-width: 1200px) {
    h3,
    .h3-size {
        font-size: 34px;
    }
}

h4,
.h4-size {
    font-size: 20px;
}

@media screen and (min-width: 768px) {

    h4,
    .h4-size {
        font-size: 24px;
    }
}

h5,
.h5-size {
    font-size: 18px;
}

@media screen and (min-width: 768px) {

    h5,
    .h5-size {
        font-size: 21px;
    }
}

h6,
.h6-size {
    font-size: 16px;
}

@media screen and (min-width: 768px) {

    h6,
    .h6-size {
        font-size: 18px;
    }
}

a {
    color: var(--secondary);
}

hr {
    border-top: 1px solid var(--primary);
    width: 250px;
}

.parent-title {
    margin-bottom: -10px;
    color: var(--secondary);
    text-transform: uppercase;
    font-weight: 500;
}