/* #Insights List
--------------------------------------------------------------- */
.insights-list {
    margin: var(--spacing-section-outer) 0;
}

.insights-list h2 {
    margin-bottom: var(--spacing-title);
    text-align: center;
}