/* #Insights List
--------------------------------------------------------------- */
.insights-list {
  margin: var(--spacing-section-outer) 0;
  padding: var(--spacing-section-inner) 0;
  background-color: var(--selago);
}

.insights-list h2 {
  max-width: 700px;
  margin: 0 auto var(--spacing-title) auto;
  text-align: center;
}
