/* #Item Post
--------------------------------------------------------------- */
.posts-grid .post,
.posts-list .post {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
}

@media screen and (min-width: 992px) {

    .posts-grid .post,
    .posts-list .post {
        flex-direction: row;
    }
}

.posts-grid .post .image,
.posts-list .post .image {
    max-width: unset;
    width: 100%;
}

@media screen and (min-width: 768px) {

    .posts-grid .post .image,
    .posts-list .post .image {
        max-width: 375px;
    }
}

.posts-grid .post .image img,
.posts-list .post .image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: var(--border-radius);
}

.posts-grid .post .content,
.posts-list .post .content {
    max-width: unset;
    width: 100%;
}

.posts-grid .post .title,
.posts-list .post .title {
    margin-bottom: 5px;
}

.posts-grid .post p,
.posts-list .post p {
    margin-top: 1rem;
}

.posts-grid .post .btn,
.posts-list .post .btn {
    margin-top: 1.5rem;
}

.posts-grid .post:hover .btn,
.posts-list .post:hover .btn {
    text-decoration: underline;
}