/* #Join Us
--------------------------------------------------------------- */
.join-us {
  margin: var(--spacing-section-outer) 0;
}

.join-us h2 {
  margin-bottom: var(--spacing-title);
  text-align: center;
}

.join-us .cards {
  align-items: flex-start;
}

.join-us .card .thumbnail {
  width: 100%;
  height: auto;
  aspect-ratio: 1.35;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: var(--border-radius);
}

.join-us .card .content {
  margin-top: 2rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}