/* #Latest Posts
--------------------------------------------------------------- */
.latest-posts {
    margin: var(--spacing-section-outer) 0;
}

.latest-posts h2 {
    margin-bottom: var(--spacing-title);
    text-align: center;
}

.latest-posts .posts-grid {
    margin-top: var(--spacing-section-inner);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: var(--spacing-title);
}

@media screen and (min-width: 1200px) {
    .latest-posts .posts-grid.grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .latest-posts .posts-grid.grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .latest-posts .posts-grid.grid-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .latest-posts .posts-grid .post {
        flex-direction: column;
    }
}

.latest-posts .posts-grid .post .image {
    max-width: unset;
}