/* #Row 2 Columns (Regular)
--------------------------------------------------------------- */
.row-2-columns {
    position: relative;
    margin: var(--spacing-section-outer) 0;
}

/* Content */
.row-2-columns .formatted {
    gap: 1.5rem;
    align-items: flex-start;
}

.row-2-columns .formatted h3 {
    color: var(--color-theme);
    font-size: 20px;
}

@media screen and (min-width: 768px) {

    .row-2-columns .formatted h3 {
        font-size: 24px;
    }
}

.row-2-columns .formatted>ul {
    gap: 1.5rem;
}

.row-2-columns .formatted>ul>li {
    padding: 0;
    align-items: center;
}

.row-2-columns .formatted>ul>li:before {
    content: url("../../icons/check.svg");
    width: 30px;
    height: 26px;
    margin: 0;
    position: relative;
    transform: unset;
    display: block;
    border: 0;
    border-radius: 0;
}

/* Details */
.row-2-columns .formatted details {
    width: 100%;
    border-bottom: 1px solid var(--mercury);
    transition: border-color ease 350ms;
}

.row-2-columns .formatted details[open] {
    border-color: var(--apple);
}

.row-2-columns .formatted details>summary {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    list-style: none;
    border-bottom: 1px solid var(--bay-of-many);
    cursor: pointer;
    transition: color ease 350ms;
}

.row-2-columns .formatted details>summary:after {
    content: '+';
    font-weight: 300;
    font-size: 40px;
    line-height: 1;
    transition: transform ease 350ms;
}

.row-2-columns .formatted details[open]>summary:after {
    transform: rotate(45deg);
}

.row-2-columns .formatted details>summary h3 {
    color: var(--primary);
}

.row-2-columns-large .formatted details ul>li:before {
    filter: none;
}

.row-2-columns .formatted details>*:last-child {
    padding-bottom: 1rem;
}

/* Image */
.row-2-columns .image-wrapper {
    position: relative;
}

.row-2-columns .image-wrapper:before,
.row-2-columns .image-wrapper:after {
    content: "";
    height: auto;
    aspect-ratio: 1;
    position: absolute;
    z-index: -1;
}

.row-2-columns.row-2-columns-regular .image-wrapper:before {
    width: 45%;
    top: -19px;
    left: -19px;
    background-color: var(--color-theme);
    border-radius: 0 10px 0 30px;
}

.row-2-columns.row-2-columns-regular .reverse .image-wrapper:before {
    aspect-ratio: 0.75;
    top: unset;
    bottom: -19px;
    border-radius: 0 10px 0 24px;
}

.row-2-columns .image-wrapper:after {
    width: 80%;
    right: -19px;
    bottom: -19px;
    z-index: -1;
    border: 1px solid var(--mercury);
    border-radius: 10px 0 30px 0;
}

.row-2-columns .reverse .image-wrapper:after {
    top: -19px;
    bottom: unset;
    border-radius: 0 24px 0 10px;
}

.row-2-columns .thumbnail {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    border-radius: var(--border-radius);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}