/* #Buttons
--------------------------------------------------------------- */
.btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
}

@media screen and (min-width: 768px) {
    .btn-wrapper {
        flex-direction: row;
        align-items: center;
    }
}

.btn {
    height: 40px;
    padding: 0.35rem 1.4rem;
    box-sizing: content-box;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    font-family: var(--body);
    font-weight: 500;
    text-transform: uppercase;
    color: var(--black);
    border: 1px solid var(--silver);
    border-radius: var(--border-radius);
    transition: background-color ease 350ms, color ease 350ms;
    cursor: pointer;
}

.btn.btn:hover,
.btn.btn:focus {
    text-decoration: underline;
}

/* Colors */
.btn.btn-white {
    color: var(--black);
    background-color: var(--white);
}

.btn.btn-primary {
    color: var(--white);
    background-color: var(--primary);
}

.btn.btn-secondary {
    color: var(--white);
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.btn.btn-tertiairy {
    color: var(--white);
    background-color: var(--tertiairy);
}

/* Icon */
.btn[class*="btn-icon"] {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

.btn[class*="btn-icon"]:after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background-size: 20px 20px;
    transform: translateX(0);
    transition: transform ease 350ms;
}

.btn.btn-primary[class*="btn-icon"]:after,
.btn.btn-secondary[class*="btn-icon"]:after,
.btn.btn-tertiairy[class*="btn-icon"]:after {
    filter: brightness(0) invert(1);
}

.btn-icon-envelop:after {
    background-image: url(../../icons/envelop.svg);
}

.btn-icon-user:after {
    background-image: url(../../icons/user.svg);
}

/* Socials */
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.socials .social {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--black);
    border-radius: 50%;
    transition: background-color ease 350ms;
}

.socials .social:hover,
.socials .social:focus {
    background-color: var(--black);
}

.socials .social>svg {
    max-width: 20px;
    width: 100%;
    max-height: 25px;
    height: auto;
    display: block;
    transition: filter ease 350ms;
}

.socials .social:hover>svg,
.socials .social:focus>svg {
    filter: brightness(0) invert(1);
}

/* Back */
.btn-back {
    max-width: 40px;
    width: 100%;
    height: 40px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}