/* #Columns
--------------------------------------------------------------- */
.cols-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-section-inner);
}

@media screen and (min-width: 992px) {
    .cols-wrapper {
        flex-direction: row;
    }
}

.cols-wrapper>div {
    width: 100%;
    flex: 1 1 0;
}

@media screen and (min-width: 992px) {
    .cols-wrapper>div {
        max-width: 50%;
    }
}