/* #Variables
--------------------------------------------------------------- */
:root {
    /* Colors */
    --apple: #429D35;
    --black: #090909;
    --bunting: #14183E;
    --endeavour: #00539F;
    --harp: #ECF5EB;
    --mercury: #E8E8E8;
    --selago: #FAF9FE;
    --silver: #CCCCCC;
    --tory-blue: #0E61A1;
    --white: #fffffb;

    --primary: var(--bunting);
    --secondary: var(--apple);
    --tertiary: var(--tory-blue);

    --content-color: var(--primary);

    /* Fonts */
    --bold: "Volkhov", serif;
    --body: "Poppins", sans-serif;

    /* Radius */
    --border-radius: 12px;

    /* Spacings */
    --spacing-section-inner: 3rem;
    --spacing-section-outer: 4rem;
    --content-spacing: 1rem;
    --spacing-title: 1.5rem;
}

@media screen and (min-width: 768px) {
    :root {
        /* Spacings */
        --spacing-section-inner: 5rem;
        --spacing-section-outer: 6.5rem;
        --spacing-title: 2rem;
    }
}