/* #Contact Us
--------------------------------------------------------------- */
.page-template-contact-page-template .contact {
    margin: var(--spacing-section-outer) 0;
}

.page-template-contact-page-template .cols-wrapper {
    align-items: flex-start;
}

/* Form */
.page-template-contact-page-template .form h2 {
    margin-bottom: var(--spacing-title);
}

.page-template-contact-page-template .form .wpcf7-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.page-template-contact-page-template .form .wpcf7-list-item {
    margin-left: 0;
}

@media screen and (min-width: 992px) {
    .page-template-contact-page-template .form form label:nth-child(2),
    .page-template-contact-page-template .form form label:nth-child(3) {
        width: calc(50% - 12px);
    }
}

/* Informations */
.page-template-contact-page-template #contact-map {
    margin-bottom: 2rem;
    aspect-ratio: 1;
    border-radius: var(--border-radius);
}

.page-template-contact-page-template main .informations {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--harp);
    border-radius: var(--border-radius);
}

.page-template-contact-page-template main .informations>div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.page-template-contact-page-template main .informations>div svg {
    width: 100%;
    max-width: 32px;
    height: auto;
}

.page-template-contact-page-template main .informations>div a {
    text-decoration: none;
    color: var(--primary);
}