/* #Our Missions & Values
--------------------------------------------------------------- */
/* Hero */
.page-template-our-missions-template .row-2-columns-large:before {
    content: "";
    width: 25%;
    min-width: 150px;
    height: auto;
    aspect-ratio: 1;
    position: absolute;
    top: 0;
    right: -1rem;
    border-radius: 0 10px 0 30px;
    border: 1px solid var(--mercury);
    z-index: -1;
}

/* Our Values */
.page-template-our-missions-template .our-values {
    margin: var(--spacing-section-outer) 0;
}

.page-template-our-missions-template .our-values h2 {
    margin-bottom: 5px;
    text-align: center;
}

.page-template-our-missions-template .our-values h2+p {
    margin-bottom: var(--spacing-title);
    text-align: center;
}

.page-template-our-missions-template .our-values .values-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    .page-template-our-missions-template .our-values .values-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.page-template-our-missions-template .our-values .values-grid .element {
    min-height: 200px;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--harp);
    border-radius: var(--border-radius);
    box-sizing: border-box;
}