/* #Our Story
--------------------------------------------------------------- */
/* Hero */
@media screen and (max-width: 991px) {
    .page-template-our-story-template .row-2-columns-large {
        position: unset;
    }
}

@media screen and (min-width: 992px) {
    .page-template-our-story-template .row-2-columns-large {
        margin: 0 0 calc(var(--spacing-section-outer) * -1 - 30px) 0 !important;
    }
}

.page-template-our-story-template .row-2-columns-large:before {
    content: "";
    width: 15%;
    min-width: 150px;
    height: auto;
    aspect-ratio: 1;
    position: absolute;
    top: 0;
    left: 1rem;
    border-radius: 30px 0 10px 0;
    border: 1px solid var(--mercury);
    z-index: -1;
}

@media screen and (max-width: 991px) {
    .page-template-our-story-template .row-2-columns-large:before {
        top: var(--header-height);
        right: -1rem;
        left: unset;
        transform: rotate(-90deg);
    }
}

/* Dates */
.page-template-our-story-template .dates {
    margin: var(--spacing-section-outer) 0;
    padding: var(--spacing-section-outer) 0;
    background-color: var(--selago);
}

.page-template-our-story-template .dates h2 {
    margin-bottom: var(--spacing-title);
}

@media screen and (min-width: 992px) {
    .page-template-our-story-template .dates h2 {
        text-align: center;
    }
}

.page-template-our-story-template .dates-list {
    display: flex;
    flex-direction: column;
}

.page-template-our-story-template .dates-list .element {
    padding: 0.75rem 0 0.75rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    border-left: 1px solid var(--mercury);
    box-sizing: border-box;
}

@media screen and (min-width: 992px) {
    .page-template-our-story-template .dates-list .element {
        width: 50%;
        padding: 0.75rem 3rem;
        align-self: flex-end;
    }
}

@media screen and (min-width: 992px) {
    .page-template-our-story-template .dates-list .element:nth-child(even) {
        align-self: flex-start;
        text-align: right;
        border-right: 1px solid var(--mercury);
        border-left: none;
    }
}

.page-template-our-story-template .dates-list .element:after {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    left: -4px;
    top: 50%;
    background-color: var(--selago);
    border: 1px solid var(--mercury);
    transform: rotate(45deg) translate(-100%, -50%);
    box-sizing: border-box;
}

@media screen and (min-width: 992px) {
    .page-template-our-story-template .dates-list .element:nth-child(even):after {
        right: 4px;
        left: unset;
        transform: rotate(45deg) translate(50%, -50%);
    }
}

.page-template-our-story-template .dates-list h3 {
    color: var(--apple);
}