/* #Our Story
--------------------------------------------------------------- */
.page-template-our-story-template .dates {
    margin: var(--spacing-section-outer) 0;
    padding: var(--spacing-section-outer) 0;
    background-color: var(--selago);
}

.page-template-our-story-template .dates h2 {
    margin-bottom: var(--spacing-title);
    text-align: center;
}